    /* header */
div[class*="index-header"],
div[class*="index-search"],
div[class*="styles-singlePageWrapper"] div[class*="index-root"],
div[class*="index-center"],
div[class*="styles-singlePageWrapper"],
div[class*="styles-root"],
div[class*="side-block-root"],
div[class*="style-item-view"],
span[class*="style-price-value-string"],
div[class*="ExtendedProfile-sidebar"] {
    background:#111
}
    /* logo color */
div[class*="index-logo"] path {
    fill:#aaa
}
h2[class*="styles-module-root"], 
span[class*="title-info-title-text"] {
    color:#aaa
}
    /* text in the right column */
span[class*="price-text"], 
div[class*="side-block-root"], 
div[class*="styles-price"], 
div[class*="style-item-view-main"], h2, span {
    color:#aaa
}
div[class*="side-block-root"] {
    padding: 10px;
    border: 1px solid #242424;
    border-radius: 10px
}
    /* default buttons and divider style */
div[class*="wait-rating-divider"],
a[class*="button-default"],
button[class*="button-default"] {
    background-color:#242424 !important;
    border-color:#242424 !important;
    color:#aaa;
    transition: background-color .3s ease-out;
}
a[class*="button-default"]:hover,
button[class*="button-default"]:hover {
    background-color:#2f2f2f !important;
    color:#aaa;
    transition: background-color .3s ease-out;
}
    /* divider in the right column */
div[class*="navbar-root"] {
    border-color:#242424
}
    /* close rating seller button */
button[class*="wait-rating-close-btn"] {
    color:#353535;
    transition: color .3s ease-out;
}
button[class*="wait-rating-close-btn"]:hover {
    color:#737272;
    transition: color .3s ease-out;
}
    /* autohide button on photo */
div[class*='gallery-block-contactBarContainer'] {
    transition: 0.5s ease-out;
    opacity: 0.05 !important;
}
div[class*='gallery-block-contactBarContainer']:hover {
    opacity: 1 !important;
}

    /* scrollbar */
::-webkit-scrollbar { 
    width:8px;
}
::-webkit-scrollbar-track { 
    background-color:#111;
}
::-webkit-scrollbar-button { 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:8px; 
    height:0px;
}
::-webkit-scrollbar-thumb { 
    background-color:#333; 
    -webkit-border-radius:4px; 
    border-radius:4px;
}
::-webkit-scrollbar-thumb:hover { 
    background-color:#444;
}
::-webkit-resizer { 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:4px; 
    height:0px;
}
